@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 2% 10%;
}

.navbar {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    font-family: 'Space Grotesk', sans-serif;

}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navlinks li {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    /* padding: 20px 40px;
    margin: 20px; */
    color: brown;
    /* text-align: center; */
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Oleo Script', serif;
    /* font-size: 20px; */
    
}


ul li a {
    text-decoration: none; 
    color: black;  
    /* text-decoration-color: red;
    text-decoration-style: dashed; */
    /* text-transform: lowercase; */
    /* letter-spacing: 1px; */
    /* line-height: 2; */
    /* text-shadow: 1px 1px 2px blue ; */
    
}


.navbar button {
    padding: 10px 20px;
    border: none;
    border-radius:8px;
    font-weight: 700;
    background-color: blue;
    color: #fff;

}


/* testmonials */
.testmonials {
    margin: 5% 10%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}